<%-include("partials/head.ejs") %>

<body>
    <%-include("header.ejs") %>
    <br><br>

    <main class="container">

        <div class="jumbotron bg-light p-5">
            <h1 class="display-4">Todos os artigos</h1>
        </div>
        <br><br>
        <% articles.forEach(article=>{ %>
            <section class="card">
                <div class="card-header"><h1> <%= article.title %></h1></div>

                <div class="card-body"><a href="/artigos/<%= article.slug %>" class="btn btn-success">Ler artigo</a></div>
            </section>
            <br>
        <% }) %>

        <div class="bg-light d-flex flex-row justify-content-between">
            <% if(result.page > 2){ %>
                <a href="/artigos/pagina/<%= result.page-1 %>"><-Anterior</a>
            <% } %>
            
            <% if(result.page === 2){  %>
                <a href="/"><-Anterior</a>
            <% } %>
    
            <% if(result.next === true){ %>
                <a href="/artigos/pagina/<%= result.page+1 %>">Próximo-></a>
            <% } %>
        </div>

    </main>
</body>

<%-include("partials/foot.ejs") %>





